<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/jquery.min.js' /></script>
  </head>
  <body> 
    <style type="text/css">
    div{
      float:left;
      width:48%;
      margin-right: 10px;
    }
    .screenshot{
      border: 1px solid #ccc;
    }
    </style> 	
    <h1><%= title %></h1>  
    create by: <a href="mailto:cate.zhao@zhan.com">Cate Zhao</a>
    <p>
        <textarea placeholder="请输入需要测试的网页地址，如：http://www.zhan.com" id="url" cols="100"></textarea><br/>
        <input type="radio" name="type" value="0" checked> 浏览器兼容性
        <input type="radio" name="type" value="1"> 响应式（手机+PC端）<br/><br/>
        <button type="button" id="submit">提交</button>
    </p>
    <div class="compability"><h1>浏览器兼容性</h1></div>
    <div class="compability" style="clear:both;"></div>
    <div class="compability"><h1>FireFox</h1><img src="/loading.gif" class="loading"/><img id="ff" width="100%" class="screenshot"/></div>
    <div class="compability"><h1>Chrome</h1><img src="/loading.gif" class="loading"/><img id="chrome" width="100%" class="screenshot"/></div>
    <div class="compability" style="clear:both;"></div>
    <div class="compability"><h1>XP IE8</h1>图裂的话请按<button type="button" id="refresh">刷新</button><img src="/loading.gif" class="loading"/><img id="ie8" width="100%" class="screenshot"/></div>
    <div class="compability"><h1>Win7 IE9</h1>图裂的话请按<button type="button" id="refresh9">刷新</button><img src="/loading.gif" class="loading"/><img id="ie9" width="100%" class="screenshot"/></div>

    <div class="reponsive"><h1>响应式（手机+PC端）  PS:点击图片查看大图</h1></div>
    <div class="reponsive" style="clear:both;"></div>
    <div class="reponsive"><img src="/loading.gif" class="loading"/></div>

    <script type="text/javascript">
    $(".reponsive").hide();
    $(".loading").hide();
    $("#ff").hide();
    $("#chrome").hide();
    $("#ie8").hide();
    $("#ie9").hide();
    var strRegex = "(https|http)?://"  
        + "?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?" //ftp的user@  
        + "(([0-9]{1,3}\.){3}[0-9]{1,3}" // IP形式的URL- 199.194.52.184  
        + "|" // 允许IP和DOMAIN（域名） 
        + "([0-9a-z_!~*'()-]+\.)*" // 域名- www.  
        + "([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\." // 二级域名  
        + "[a-z]{2,6})" // first level domain- .com or .museum  
        + "(:[0-9]{1,4})?" // 端口- :80  
        + "((/?)|" // a slash isn't required if there is no file name  
        + "(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$";
    var re=new RegExp(strRegex);    
		$("#submit").on('click', function(){
            $(".loading").hide();
            $("#ff").hide().attr("src","");
            $("#chrome").hide().attr("src","");
            $("#ie8").hide().attr("src","");
            $("#ie9").hide().attr("src","");
		  	var url=$("#url").val();
		  	if (url == null || url == "") {
		        alert("网址不能为空");
		    }
            else if(!re.test(url)){
                alert("网址不正确");
            }
		    else{
                if($('input[name=type]:checked').val()==="0"){
                    $(".loading").show();
                    $.post("/postUrlFF",{url:encodeURIComponent(url)},function(result){
                        $(".loading").eq(0).hide();
                        $("#ff").show().attr("src","/"+result.ff);
                    });

                    $.post("/postUrlChrome",{url:encodeURIComponent(url)},function(result){
                        $(".loading").eq(1).hide();
                        $("#chrome").show().attr("src","/"+result.chorme);
                    });

                    $.ajax({
                        url : "http://192.168.4.219:8100/getUrlIE",
                        dataType : "jsonp",
                        jsonp: "callback",
                        data: {
                            url: encodeURIComponent(url)
                        },
                        success : function(result){
                            $(".loading").eq(2).hide();
                            $("#ie8").show().attr("src","http://192.168.4.219:8100/"+result.ie);
                        }
                    });

                    $.ajax({
                        url : "http://192.168.4.55:8100/getUrlIE",
                        dataType : "jsonp",
                        jsonp: "callback",
                        data: {
                            url: encodeURIComponent(url)
                        },
                        success : function(result){
                            $(".loading").eq(3).hide();
                            $("#ie9").show().attr("src","http://192.168.4.55:8100/"+result.ie);
                        }
                    });
                }
                else{
                    $(".reponsive").find(".loading").show();
                    $.post("/postResponsive",{url:encodeURIComponent(url)},function(result){
                        $(".reponsive").find(".loading").hide();
                        var html = "";
                        for(var i = 0;i<result.data.length;i++){
                            html = html + '<div class="reponsive"><h1>'+result.data[i].sub+'</h1><a href="'+result.data[i].full+'" target="_blank"><img src="'+result.data[i].full+'" style="max-width:40%;"/></a>&nbsp;<a href="'+result.data[i].screen+'" target="_blank"><img src="'+result.data[i].screen+'" style="max-width:40%;"/></a></div>'
                        }
                        $(".reponsive").last().after(html);                      
                    });
                }
                
		    	
		    }
		});

    $("#refresh").on('click', function(){
        $(".loading").hide();
        $("#ie8").hide().attr("src","");
        var url=$("#url").val();
        if (url == null || url == "") {
            alert("网址不能为空");
        }
        else if(!re.test(url)){
            alert("网址不正确");
        }
        else{
          $(".loading").eq(2).show();          
          $.ajax({
            url : "http://192.168.4.219:8100/getUrlIE",
            dataType : "jsonp",
            jsonp: "callback",
            data: {
                url: encodeURIComponent(url)
            },
            success : function(result){
                $(".loading").eq(2).hide();
                $("#ie8").show().attr("src","http://192.168.4.219:8100/"+result.ie);
            }
          });
        }
    });

    $("#refresh9").on('click', function(){
        $(".loading").hide();
        $("#ie9").hide().attr("src","");
        var url=$("#url").val();
        if (url == null || url == "") {
            alert("网址不能为空");
        }
        else if(!re.test(url)){
            alert("网址不正确");
        }
        else{
          $(".loading").eq(3).show();          
          $.ajax({
                url : "http://192.168.4.55:8100/getUrlIE",
                dataType : "jsonp",
                jsonp: "callback",
                data: {
                    url: encodeURIComponent(url)
                },
                success : function(result){
                    $(".loading").eq(3).hide();
                    $("#ie9").show().attr("src","http://192.168.4.55:8100/"+result.ie);
                }
            });
        }
    });


    $('input[name=type]').on('click',function(){
        if($('input[name=type]:checked').val()==='1'){
            $(".reponsive").show();
            $(".compability").hide();
        }
        else{
            $(".reponsive").hide();
            $(".compability").show();
        }
    });
  	</script>
  </body>
</html>
